*{
  body: black;
  font-weight: 700;
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.youtube.com%2Fchannel%2FUCBKP9wmi77RVKrlqU8EUhBA&psig=AOvVaw0lUmpgzTinxIOaF3M6qmC-&ust=1710613743911000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCIDrj_Xy9oQDFQAAAAAdAAAAABAE')
}
